body {
  padding: 0;
  margin: 50px;
  background-color: aqua;
  font-family: Arial;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0px;
}

.item {
  background: #111;
  color: white;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
}

span {
  color: #febe01;
}

p {
  color: #b2b2b2;
}

a {
  display: inline-block;
  background-color: #febe01;
  color: #332200;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}

